@model IEnumerable<Model.EnityFramework.Product>

@foreach (var item in Model)
{
    if (item.CategoryID == 1 && item.Status == true)
    {
        <div class="responsive">
            <div class="gallery">
                <a href="/chi-tiet/@item.Alias-@item.ID">
                    <img src="@item.Image">
                </a>
                <div class="desc">@item.Name</div>
                <div class="info">@item.Description</div>
                <div class="gia">$@item.Price.ToString("N0")</div>
                <div class="add-actions">
                    <ul class="add-actions-link btn btn-primary" style="background-color: #0062cc">
                        <li class="add-cart active" style="margin-left: 13px"><a href="/Cart/AddItem?productId=@item.ID&quantity=1" style="font-size: 15px"><span class="glyphicon glyphicon-shopping-cart"></span> THÊM VÀO GIỎ HÀNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }

}


