@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <section class="section-content padding-y">
            <div class="card mx-auto" style="width: 700px; height: 400px">
                <article class="card-body">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <h1>Đổi Mật Khẩu</h1>
                                    <h2>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</h2>
                                    <div style="text-align: center; font-size: 15px">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                   
                                    <hr />
                                    <div class="form-group">
                                        <label class="fa fa-user" style="font-size: 15px; margin-right: 30px; width: 140px"> Mật khẩu hiện tại</label>
                                        <input id="OldPassword" name="OldPassword" type="password" value="" class="form-group" style="font-size: 15px; width: 400px" />
                                    </div>
                                    <div class="form-group">
                                        <label class="fa fa-user" style="font-size: 15px; margin-right: 30px; width: 140px"> Mật khẩu mới</label>
                                        <input id="NewPassword" name="NewPassword" type="password" value="" class="form-group" style="font-size: 15px; width: 400px" required/>
                                    </div>
                                    <div class="form-group">
                                        <label class="fa fa-user" style="font-size: 15px; margin-right: 30px; width: 140px">Xác nhận mật khẩu</label>
                                        <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="" class="form-group" style="font-size: 15px; width: 400px" required/>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success" style="font-size: 15px; background-color:#04354c; height: 40px; width: 100px">
                                        Xác Nhận
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
}

