
@{
    ViewBag.Title = "ConfirmAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["DangKyMess"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                @Html.Raw(TempData["DangKyMess"]);
            };
    </script>
}
<link rel="stylesheet" type="text/css" href="\content\client\dndkv2.css" />
@using (Html.BeginForm("ConfirmAccount", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="dkdnpage" style="margin-top: 160px">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <p>Nhập mã xác thực đăng ký</p>
            </div>
            <div class="form-group">
                <input type="text" name="confirmKey" class="form-control" style="height: 40px; font-size:20px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Xác Nhận" />
            </div>

        </div>
    </div>
}