.wrapper {
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.product-img {
    float: left;
    height: 360px;
    width: 360px;
    margin-top: 40px
}

    .product-img img {
        border-radius: 7px 0 0 7px;
    }
.product-info {
    float: right;
    height: 500px;
    width: 400px;
    border-radius: 0 7px 10px 7px;
    background-color: #f2f2f2;
}

.product-text {
    height: 450px;
    width: 400px;
}

    .product-text h1 {
        margin: 0 0 0 38px;
        padding-top: 10px;
        font-size: 25px;
        color: #474747;
        font-weight: bold
    }

    .product-text h1,
    .product-price-btn p {
        font-family: 'Montserrat', sans-serif;
    }

    .product-text h2 {
        margin: 0 0 0 38px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.7em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
        float: left
    }

    .product-text p {
        margin: 0 0 0 38px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.7em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
    }

/*.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

    .product-price-btn p {
        display: inline-block;
        position: absolute;
        top: -13px;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        margin: 0 0 0 38px;
        font-size: 28px;
        font-weight: lighter;
        color: #474747;
    }*/
.add-to-cart {
    background-color: #04354c;
    border-radius: 5px
}
    .add-to-cart a {
        font-size: 15px;
        margin-left: 55px
    }

